/* easyconvert/src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
}

.App-header {
  text-align: center;
}

h1 {
  color: #d63384;
  margin-bottom: 20px;
}